@font-face {
  font-family: "Noto Sans JP";
  src: url("/assets/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/assets/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  max-width: 780px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.content img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

a {
  color: #1a73e8;
  text-decoration: none;
  word-break: break-all;
}

li {
  padding: .2em 0;
}

.header {
  padding: 2rem 0;
}

.header-logo {
  color: #000;
  font-weight: bold;
  font-size: 2rem;
  border: 4px solid #000;
  background-color: #C4DAFC;
  padding: 8px;
  box-shadow: 8px 8px #000;
}

.section {
  margin-bottom: 4em;
}

.title {
  border-bottom: 4px solid #C4DAFC;
}

.content {
  margin-top: 2em;
  margin-bottom: 2em;
}

.date {
  color: #aaa;
}

.identity {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.identity-icon {
  width: 50%;
  text-align: center;
}

.identity-content {
  width: 50%;
}

.footer {
  font-size: 14px;
  border-top: 4px solid #C4DAFC;
}

.footer-link {
  margin-right: 8px;
}

.footer-note {
  margin: 0;
  text-align: left;
}

.twitter-tweet {
  margin: auto;
}

@media (max-width: 600px) {
  .header {
    text-align: left;
  }

  .header-logo {
    font-size: 24px;
  }

  .post-title {
    font-size: 28px;
  }

  .section-title {
    font-size: 24px;
  }

  .sub-section-title {
    font-size: 20px;
  }

  .identity {
    flex-direction: column;
    align-items: flex-start;
  }

  .identity-icon,
  .identity-content {
    width: 100%;
  }

  .identity-icon {
    text-align: center;
  }

  .footer {
    font-size: 15px;
  }
}
